<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Edit Worklog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
    </div>
    <div class="modal-body">
        <div id="testmodal" style="padding: 5px 20px;">
            <form id="antoform" class="row g-3" role="form">
                <div class="col-md-12">
                    <strong>{{dataModel.ticket}}  </strong> - <span>{{dataModel.summary}}</span>
                </div>
                <div class="col-md-4">
                    <label for="date" class="form-label">Affecting Date</label>
                    <input type="date" [value]="dataModel.affectingDate| date: 'yyyy-MM-dd'"
                           class="form-control" id="date" (change)="onDateChange($event)" >
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="startAt">Time Started<sup
                            class="mandatory">*</sup></label>
                    <input type="time" class="form-control" id="startAt" readonly name="startAt" [(ngModel)]="dataModel.timeStarted">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="duration">Time Spent<sup class="mandatory">*</sup></label>
                    <input type="text" class="form-control" readonly [(ngModel)]="dataModel.timeSpent" id="duration"
                           name="title">
                </div>
                <div class="col-md-12">
                    <label class="form-label" for="comment">Comment</label>
                    <textarea class="form-control" style="height:55px;" [(ngModel)]="newDataModel.comment" id="comment"
                              name="descr"></textarea>
                </div>

            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">Delete Worklog
        </button>
        <button type="button" [disabled]="!hasChanged" class="btn btn-success" (click)="save()">Save Changes</button>

        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="cancel()">Cancel
        </button>
    </div>
</div>
